/*General rules*/
html {
    height: 100%;
    font-family: 'Work-Sans', sans-serif;
}

body {
    margin: 0 auto;
    font-family: 'Work-Sans', sans-serif;
    display: block;
}

article {
    margin: auto;
}

section {
    margin: 50px;
}

h1 {
    font-family: 'Secular One', sans-serif;
    font-size: 30px;
    color: #4996B3;
    text-align: center;
}

h2 {
    font-family: 'Secular One', sans-serif;
    font-size: 26px;
    margin: 10px;
    padding: 0;
    color: #B01034;
    text-align: center;
    line-height: 3rem;
}
.logo h2 {
    font-family: 'Secular One', sans-serif;
    font-size: 32px;
    line-height: 42px;
    height: 58px;

}
h3{
    font-family: 'Courgette', cursive;
    font-size: 2.5rem;
    font-weight: 600;
    margin: 0;
    color: #778899;
    max-width: 100%;
}

h4 {
    font-size: 22px;
    color: #fff;
    text-align:center;
}

p {
    font-family: 'Malgun Gothic';
    font-size: 22px;
    color: #4d4e4f;
}

a {
    text-decoration: none;
    color: white;
}
/*A 6 column grid on a CSS Grid is used through out this website with seperate settings for different sections*/

.head-banner {
    border-bottom: 1px solid gainsboro;
    background-color:#BDBDBD;
    height: 59px;
}

/*main content wrappers*/
.head-banner-content {
    /*using the repeat function ensures the setting is applied to all rows within the grid system*/
    grid-template-columns: repeat(6, 1fr);
    /*minmax function ensures each row is set at 150px but is not restricted to this and can expand depending on the content*/
    grid-auto-rows: minmax(150px, auto);
    display: grid;
    max-width: 960px;/*A 960px margin was applied to enhance readability*/
    margin: 0 auto;
    height: 70px;/*overall height of the nav bar*/

}

/*Navigation Area*/

.logo {
    grid-column: 1/3;/*implementing the logo to be in columns 1 - 3 assures its pushed to the left removing the outdated float method*/
    grid-row: 1;
}

span { /*span was used to add content to the logo. One half is black(span) and the other is the crimson (as set in h2 logo above*/
    color: black;
}


/*menu icon styling*/
.hamburger-menu {
    position: absolute;/*displays in its position one activted*/
    line-height: 30px;/*same as the nav line height*/
    border-right:2px solid lightgrey;
    display: grid;
    grid-column: 1;
    grid-row: 1;
}

.burger-button a:focus {
    /*using the focus pseudo class on the menu icon, alerts the user that the icon is clicked*/
    outline: none;
}
.burger-button {
    background: none;
    color: #fff;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;/*fixed bug originally there was no pointer*/
    outline: inherit;

}
/*Mobile navaigation functionality*/
/*whilst in desktop view the menu icon is hidden*/
.mobile-navigation{display:none;}

/*mobile navigation-style*/


.mobile-navigation {
    overflow: auto;
    position: absolute;/*displays absolubly over the main banner image section*/
    z-index: 999999;/*enables the over lay as it has a higher z index in the dom*/
    width: 100%;
    float:left;
    margin-top:60px;/*to display the menu underneath the banner*/
}


.mobile-navigation a {
    width: 100%;
    float: left;
    padding: 15px 0 15px 16px;
    background-color: lightgrey;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    border-bottom: 1px solid #0065d1;
}

/*Desktop navigation link styles*/
.nav {
    grid-column: 3/7;/*implementing the logo to be in columns 3-7 assures its pushed to the left removing the outdated float method(even though its set to 6 columns, 7 is used to push the content past the grid gap and to the end of grid column 6*/
    grid-row: 1;

}

.nav ul {
    list-style: none;/*removes the lists bullet points*/
    background-color: #444;
    text-align: center;
    padding: 0;
    margin: 0;
}

.nav li {
    width: 100px;
    float: left;/*thenav is set to display grid, however list items can not have these settings and float was implicated*/
    font-family: 'Cantrell', 'sans-serif';
    font-size: 1.4em;
    line-height: 62px;
    height: 58px;

    /*  border-bottom: 1px solid #888;*/
}

.nav a:visited {/*to enhance usabilitya decision was made to include the visited feature to remind the user over visited pages*/
    text-decoration: none;
    color: white;
}

.nav a {
    text-decoration: none;
    color: black;
    display: block;
    transition: .3s background-color;/*adds a 3second transition on hover*/
}

.nav a:hover {
    background-color: white;
    color: #707070;
    text-decoration: underline;
}
#touch-nav-content {
    /*nested grid system used due to content dimensions for the touch points*/
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(150px, auto);
    display: grid;
    max-width: 960px;
    padding: 0;
}
#touch-nav-wrapper {
    grid-column: 1/7;
    grid-row: 2;
}
#touch-nav-content > div img {
    /*touch pint images have these settings so they can differentiate between screen sizes until flex column mobile settings get applied.*/
    height: auto;
    width: 100%;

}
/*demostration on the power of css grid was  applied to space the touchpoints within the 3 frame system without the use of margins, floats and paddings*/
.basics1 {
    grid-column: 2/3;
    grid-row: 3/6;

}

.frets1 {

    grid-column: 1/2;
    grid-row: 1/3;
}

.chords1 {

    grid-column: 3/4;
    grid-row: 1/3;
}

.rhythm1 {
    grid-column: 1/2;
    grid-row: 5/7;
}

.lead1 {
    grid-column: 3/4;
    grid-row: 5/7;
}



/*Start of main content stylings*/

/*index page main banner and image styles*/
.main-banner-image {
    background-image: url(img/acoustic-guitar-header.jpg);
    background-size: cover;
    padding: 0;
    height: 400px;
    width: 100%;
    z-index: 1;/*setting a z index below the message's z-index enabled the message to over lay the image*/
}
.message-wrapper {
    /*this set a wrapper overlaying the index page main image*/
    width: 100%;
    height: auto;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(150px, auto);
    display: grid;
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
}

.banner-message {
    /*sets the styling on where the message would be placed within the wrapper before mob device screens*/
    width: 100%;
    height: auto;
    grid-column: 1/3;
    grid-row: 2;
}
/*The following styles are each web pages main banner image and content styles. An attempt to use the same styling for each background, proved unsuccessful, due to the positioning of each pages image within the banner being different.*/
/*basic's pages main banner image styles*/
#main-banner-image-basics {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-image: url(img/frets-wall.jpg);/*applies a textured background covering 100vW.*/
    background-size: cover;
    padding: 0;
    height: 300px;
    width: 100%;
    border-bottom: 4px solid gainsboro;

}
/*position of the basics image matching the index touch point*/
#main-banner-image-basics img {
    display: grid;
    grid-column: 2;
    align-self: center;
    justify-self: center;
    height: auto;
    width: 100%;
    max-height: 296px;
    max-width: 350px;
}

#main-banner-image-frets {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-image: url(img/frets-wall.jpg);
    background-size: cover;
    padding: 0;
    height: 300px;
    width: 100%;
    border-bottom: 1px solid gainsboro;
}
/*position of the frets image matching the index touch point*/
#main-banner-image-frets img {
    display: grid;
    grid-column: 2;
    align-self: center;
    justify-self: center;
    height: auto;
    width: 100%;
    max-height: 296px;
    max-width: 350px;
}

/*Main pages content styles*/
#main-content-wrapper{
    /*Using the same margin and column frames as before for comformity*/
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(150px, auto);
    display: grid;
    max-width: 960px;
    margin: 0 auto;
    grid-gap: 10px;
}

#main-content-wrapper div {
    padding: 30px;
}

/*main content stying*/

#main-content-wrapper > .welcome {/*this set the welcome message for each page to promote DRY coding*/
    grid-column: 1/7;
    grid-row: 1;
    margin: 0;
    text-align:center;
}

/*modal box styles for all pages*/

.help-box{
    /*the modal required its own margin's as it is set before the main content of each page until activated by voice command*/
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(150px, auto);
    display: grid;
    max-width: 960px;
    margin: 0 auto;
    background-color:#f2fbfe;
    grid-gap: 10px;
    padding:20px;
    /*this display function is not a repeat. it has a different context and enables the toggle feature in voice JS*/
  display:none;
}

#dialog{
    border-radius: 20px;
    border-bottom: 1px solid lightgray;
    grid-column: 2/6;
    align-content: center;
    text-align:center;


}
#dialog > p{
    grid-column:1/7;
}
#dialog > .table{
    display:grid;
    grid-column:2/6;
    justify-content:center;
    grid-row:2;
    margin-bottom:3em;
}

/*Index Styles*/


.welcome img {
    float: right;/*enable's the text to wrap around the image*/
}

.outro-index {
    font-family: 'Roboto';
    font-style: italic;
    text-align: right;
    font-size: 1.5rem;
    color: grey;
    grid-column: 3/7;
    grid-row: 3;
}
.outro-basics {
    grid-column: 2/7;
    grid-row: 4;
    font-family: 'Roboto';
    font-style: italic;
    text-align: right;
    font-size: 1.5rem;
    color: grey;
}
/*anchor point at the botom of the html, points to the top of page*/
.anchor-index {
    grid-column: 6;
    grid-row: 4;
    text-align: center;
}
/*content cards containing images and their content styles*/

/*basic page 1 styles*/
.information-card {
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(150px, auto);
    display: grid;
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
    grid-gap: 10px;
    border-radius: 20px;
    border: 1px solid lightgray;
    grid-column: 1/7;
}
#card {
    background-image: url(img/headstock2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    grid-column: 1/3;
    grid-row: 1;
    margin:20px;
}
#info-box {
    margin-top: -5px;
    grid-column: 3/7;
    grid-row: 1;
}
.information-card2 {
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(150px, auto);
    display: grid;
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
    grid-gap: 10px;
    border-radius: 20px;
    border: 1px solid lightgray;
    grid-column: 1/7;
}
#card-bridge {
    background-image: url(img/bridge.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    grid-column: 1/3;
    grid-row: 1;
    margin: 34px 0 37px 50px;
}

#info-box2 {
    margin: -10px;
    padding: 0;
    grid-column: 3/7;
    grid-row: 1;
}

/*basics page 2 content cards styles*/


#cardB1 {
    background-image: url(img/posture.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 240px;
    width: 100%;
    max-width: 350px;
    border-radius: 20px;
    margin: 66px 0 0 66px;
    grid-column: 1/4;
    grid-row: 1;
}

#cardB2 {
    background-image: url(img/cradle.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 189px;
    width: 100%;
      border-radius: 20px;
    margin:66px 0 0 66px;
    max-width: 350px;
    grid-column: 1/3;
    grid-row: 1;
}

#cardB3 {
    background-image: url(img/arching.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
    max-width: 190px;
    margin: 113px 0 0 66px;
    border-radius: 20px;
    grid-column: 1/3;
    grid-row: 1;
}

.info-boxB1 {
    margin: 10px;
    padding: 0;
    grid-column: 3/7;
    grid-row: 1;
}

/*frets page 2 content box styles*/
#image-information-box {
    /*applying linear gradients enabled control on how light the background could be, further control on how readable the text overlaying it could be*/
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url(img/learn-and-play.png) no-repeat center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    padding: 20px;
    margin: 0;
    grid-column: 1/7;
    grid-row: 2;
}

.info-boxF2 {
    grid-column: 4;
    grid-row: 2;
    background-color: aliceblue;
    padding: 0;
    position: relative;
}

#information-boxC1 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0,-0.3)), url(img/music.jpg) no-repeat center;/*no repeat -center =backgroundimage didnt repeat and was centered within its div*/
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    border-radius: 15px;
    grid-column: 1/7;
    grid-row: 2;
    margin: 0;
    padding: 20px;
}

/*chords content box -settings*/
#horizontal-card-topC1 {
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(150px, auto);
    display: grid;
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
    grid-column: 1/-1;
    grid-row: 3;
}

.cardC1 {
    grid-column: 3/4;
    grid-row: 1;
    height: 200px;
    margin-left: 5em;
}

.info-boxC1 {
    grid-column: 1/7;
    grid-row: 2;
    text-align: center;
}

#horizontal-card-bottomC1 {
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(150px, auto);
    display: grid;
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
    grid-column: 1/-1;
    grid-row: 4;
}

.cardC2 {
    grid-column: 3/4;
    grid-row: 1;
    height: 200px;
    margin-left: 5em;
}

.info-boxC2 {
    grid-column: 1/-1;
    grid-row: 2;
    text-align: center
}

.information-boxC1 {
    grid-column: 4;
    grid-row: 3;
    background-color: aliceblue;
    padding: 0;
    position: relative;
}

/*chords page content box styles*/
.info-box-power {
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(150px, auto);
    display: grid;
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
    grid-column: 1/7;
}
/*the h2 element was not styled rather positioned here*/
.info-box-power h2 {
    grid-column: 2/6;
    grid-row: 1;
    margin: 0;
    padding: 0;
}
/*chords page 2 scontent boc styles*/
.card-power1 {
    background-image: url(img/f-power-placeholder.png);
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: 3/6;
    grid-row: 2/5;
    max-height: 300px;
    max-width: 300px;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-bottom: 0;
}

.info-box2-power {
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(150px, auto);
    display: grid;
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
    grid-column: 1/7;
}

.info-box-power p {
    grid-column: 1/7;
    grid-row: 5;
    margin-top: 0;
    padding-top: 0;
    text-align: center;
}

.info-box2-power h2 {
    grid-column: 2/6;
    grid-row: 1;
    margin: 0;
    padding: 0;
}

.card2-power {
    background-image: url(img/B-power-placeholder.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: 3/6;
    grid-row: 2/5;
    /*due to the images design, further precision was required aswell as css grid*/
    height: auto;
    width: 100%;
    max-height: 300px;
    max-width: 300px;

    border: 1px solid darkgray;
    border-radius: 10px;
}

.info-box2-power p {
    grid-column: 1/7;
    grid-row: 5;
    margin-top: 0;
    padding-top: 0;
    text-align: center;
}

/*lead page 1 content-box styles*/
.lower-information-box-lead {
    grid-column: 1/7;
    grid-row: 4/6;
    background-color: aliceblue;
    padding: 0;
    position: relative;

}

#information-box-lead.lower-information-box-lead h4 {
    margin-top: 10em;
    font-size: 22px;
}

#information-box-lead {
    /*implement gradient liner controls gave more control on how bright the background image was so text was more readable overlaying it*/
    background: linear-gradient(rgba(0.0, 0.0, 0.0, 0.3), rgba(0, 0, 0, 0.6)), url(img/GIBSON_CREST_01.jpg) no-repeat center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    border-radius: 15px;
    grid-column: 1/7;
    grid-row: 4/6;
    padding: 20px
}


#contact-info-detail.contact-info {
    grid-column: 1/7;
    grid-row: 6;
    height:480px;
    margin-bottom:5em;
}

.contact-info h4 {
    text-align: center;
    list-style: none;
    font-family: 'Work-Sans', sans-serif;
    font-size: 22px;
    color: gainsboro;
    font-weight: 500;

}

#contact-info-detail {
    /*contact-details*/
    background: linear-gradient(rgba(0.0, 0.0, 0.0, 0.7), rgba(0, 0, 0, 0.5)), url(img/image1.png) no-repeat center;
    background-size: cover;
    border-radius: 15px;
    list-style: none;
    padding: 10px;
}

.lower-information-box-lead {
    grid-column: 1/7;
    grid-row: 4/6;
    background-color: aliceblue;
    padding: 0;
    position: relative;
}

#contact-box-lead2 {
    background: linear-gradient(rgba(0.0, 0.0, 0.0, 0.2), rgba(0, 0, 9, 0.1)), url(img/me.png) no-repeat center;
    background-size: cover;
    height: 260px;
    grid-column: 5/7;
    grid-row: 8;
}

#contact-box-lead2  h4 {
    margin-top: 8em;
    text-align: center;
    font-family: 'Work-Sans', sans-serif;
    font-size: 22px;
    color: gainsboro;
    font-weight: 500;
    list-style:none;
}
ul {
    list-style-type:none;
}
/*general content styles pages*/

.outroB2 {
    grid-column: 1/7;
    grid-row: 5;
    font-family: 'Roboto';
    font-style: italic;
    text-align: right;
    font-size: 1.5rem;
    color: grey;
}
#lower-section {
    margin-top: 3em;
    padding-top: 0;
    grid-column: 1/7;
    grid-row: 4;
}

/*Fret Styling*/


#welcomeF1 {
    grid-column: 1/7;
    grid-row: 1;
    text-align: center;
}

#information-placeholderF1 {
    grid-column: 1/7;
    grid-row: 2;
}

#information-placeholderF1 img {
    height: auto;
    width: 100%;
    max-width: 300px;
    border-radius: 25%;
    float: left;
}
#information-placeholderF1 p {
    margin-right: 30px;
}

.lessonF1 {
    grid-column: 1/7;
    grid-row: 3;
    text-align: center;
}

.fretboard-placeholder2 {
    background-image: url(img/fretboard.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: 1/7;
    grid-row: 4;
}
.placeholder {
    background-image: url(img/frets-placeholder.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    height: 230px;
    margin: 40em 30px 10px 30px;
    grid-column: 4/7;
    grid-row: 3;
}
.lessonF1a {
    grid-column: 1/7;
    grid-row: 5;
    text-align: center;
}

.outroF1 {
    font-family: 'Roboto';
    font-style: italic;
    text-align: right;
    font-size: 1.5rem;
    color: grey;
    grid-column: 2/7;
    grid-row: 6;
}

#lesson-two-frets {
    grid-column: 1/6;
    grid-row: 7;
    border: 2px solid lightgray;
    border-radius: 10px;
    margin-bottom:2em;
}

#lesson-two-frets h1 {
    font-family: 'Courgette', 'sans-serif';
    font-size: 40px;
}
.anchorFrets1 {
    grid-column: 6/7;
    grid-row: 7;
    text-align: center;
}

/*frets2 styling*/

#welcomeF2 {
    grid-column: 1/7;
    grid-row: 1;
    text-align: center
}

.contentF2 {
    grid-column: 4/7;
    grid-row: 3;
}

.contentF2 img {
    width: 400px;
    height: 250px;
    border-radius: 15px;
}

.content2F2 {
    grid-column: 1/4;
    grid-row: 3;
}

.outroF2 {
    font-family: 'Roboto';
    font-style: italic;
    text-align: right;
    font-size: 1.5rem;
    color: grey;
    grid-column: 2/7;
    grid-row: 4;
}

/*Chord1 styles*/
.welcomeC1 {
    grid-column: 1/-1;
    grid-row: 1;
    text-align: center;
}
.outroC1 {
    grid-column: 2/7;
    grid-row: 5;
    font-family: 'Roboto';
    font-style: italic;
    text-align: right;
    font-size: 1.5rem;
    color: grey;
}
#lesson-two-chords {
    grid-column: 1/6;
    grid-row: 6;
    border: 2px solid lightgray;
    border-radius: 10px;
}
#lesson-two-chords h1 {
    font-family: 'Courgette', 'sans-serif';
    font-size: 40px;
}
#lesson-two-chords p {
    font-family: 'Secular+One', 'sans-serif';
    text-align: center;
}
.anchorC1 {
    grid-column: 6;
    grid-row: 6;
    text-align: center;
}

/*Chords2 Styles*/
.welcome-chords2 {
    grid-column: 1/7;
    grid-row: 1;
    text-align: center;
}

.outro-power {
    grid-column: 2/7;
    grid-row: 4;
    font-family: 'Roboto';
    font-style: italic;
    text-align: right;
    font-size: 1.5rem;
    color: grey;
}
/*Rhythm page content styles*/


#lower-section-imageR1 {
    background-image: url(img/acoustic-mic-studio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 400px;
    grid-column: 2/6;
    grid-row: 2/4;
    margin: 0;
    padding: 0;
    border-radius: 10px;
}

#lower-sectionR1 {
    grid-column: 1/7;
    grid-row: 4;
    text-align: center;
    margin-top: 0;
    padding-top: 0;

}

#lower-section-image2R1 {
    background-image: url(img/metronome.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    grid-column: 2/6;
    grid-row: 5/7;
}

.outroR1 {
    grid-column: 3/7;
    grid-row: 7;
    font-family: 'Roboto';
    font-style: italic;
    text-align: right;
    font-size: 1.5rem;
    color: lightgray;
}
#lesson-two-frets {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)) ;
    background-color: aliceblue;
    height: 180px;
    border-radius: 15px;
    grid-column: 1/5;
    border: 1px solid lightgrey;
}
#lesson-two-rhythm {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)) ;
    background-color: aliceblue;
    height: 180px;
    border-radius: 15px;
    grid-column: 1/5;
    border: 1px solid lightgrey;
}
#lesson-two-rhythmR1{
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)) ;
    background-color: aliceblue;
    height: 180px;
    border-radius: 15px;
    grid-column: 1/5;
    border: 1px solid lightgrey;
}
#lesson-two-rhythm h1 {
    color: #77b3d4;
    font-family: Courgette;
    font-size: 35px;
    padding: 10px;
}


/*Rhythm Page 2 styling*/


.introduction {
    grid-column: 1/-1;
    grid-row: 1;
    text-align: center;
    margin-top: 0
}

.story {
    grid-column: 1/7;
    grid-row: 2;
    margin-top: 0;
}

.story img {
    height: auto;
    width: 100%;
    max-width: 360px;
    margin: 0 10px 5px 10px;
    float: left;
    border-radius: 10px
}

#head-banner-content-rhythm2 > .chord-section1 {
    grid-column: 1/7;
    grid-row: 4;
}

.chord-section1 img {
    height: auto;
    width: 100%;
    max-width: 258px;
    margin: 15px 10px 0px 10px;
    float: left;
    border-radius: 10px
}

.chord-section1a {
    grid-column: 1/7;
    grid-row: 5;
}

.chord-section1a img {
    float: right;
    height: 300px;
    width: 200px;
}

.chord-section2 {
    grid-column: 1/-1;
    grid-row: 3;
    text-align: center;
}

.table {
    grid-column: 1/-1;
    grid-row: 7;
}

.table > table {
    height: auto;
    width: 100%;
    font-family: 'Roboto';
    font-size: 1.5rem;
}

th {
    background-color: bisque;
}

td {
    background-color: aliceblue;
    text-align: center;
}

table,
th,
td {
    border: 1px solid #111;
    border-collapse: collapse;
}

th,
td {
    padding: 5px;
}

.outro {
    grid-column: 1/7;
    grid-row: 3;
    font-family: 'Roboto';
    font-style: italic;
    text-align: right;
    font-size: 1.5rem;
    color: grey;
}


/*lead styles*/


.welcomel1 {
    grid-column: 1/7;
    grid-row: 1;
    text-align: center
}

.higher-section-image-lead {
    background-image: url(img/lead-guitar-image.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(340deg);
    grid-column: 3/5;
    grid-row: 2
}

.higher-section-l1 {
    grid-column: 1/7;
    grid-row: 3;
    text-align: center
}

.lower-section-leadl1 {
    grid-column: 1/7;
    grid-row: 5
}

#lesson-two-lead {
    grid-column: 1/6;
    grid-row: 7;
    border: 2px solid lightgray;
    border-radius: 10px;
}

#lesson-two-lead h1 {
    font-family: 'Courgette', 'sans-serif';
    font-size: 40px;

}

#lesson-two-lead p {
    font-family: 'Secular+One', 'sans-serif';
    text-align: center;

}

/*lead 2 styles*/
.thankyou {
    grid-column: 1/7;
    grid-row: 1;
    margin: 0;
    text-align: center
}

.tablature-lesson-introduction {
    grid-column: 1/7;
    grid-row: 2;
    text-align: center;
    margin: 0;
}

#tablature-placeholder {
    background-image: url(img/Tablature.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 15px;
    grid-column: 2/6;
    margin: 20px 0;
    grid-row: 3/5;
}

.tablature-description {
    grid-column: 1/7;
    grid-row: 5;
    text-align: center;
    margin: 0
}

.disclaimer{
    grid-column:2/6;
    grid-row:auto;
    text-align:center;
}

/*Anchor Tag and Footer Styling*/
.anchor-power {
    grid-column: 6;
    grid-row: auto;
    text-align: center;
}
.anchor-basics {
    grid-column: 6;
    grid-row:auto;
    text-align: center;
}
.anchor1 {
    grid-column: 6;
    grid-row: auto;
    text-align: center;
}
.anchor {
    grid-column: 6/-1;
    grid-row: auto;
}

.anchor a img {
    float: right;
    height: auto;
    width: 100%;
    max-width: 150px;
}
.anchorl1 {
    grid-column: 6;
    grid-row: auto;
    text-align: center;
}

.anchorR2 {
    grid-column: 7;
    grid-row: auto;
}
.outrol1 {
    text-align: right;
    font-style: italic;
    grid-column: 3/7;
    grid-row: 6;
}
.anchor-final {
    grid-column: 6/7;
    grid-row: auto;
    text-align: center;
}
.anchorF2{
    grid-column:6/7;
    grid-row:auto;
    text-align:center;
}
footer {
    background-color:#BDBDBD;
    width: 100%;
    display: inline-block;
    margin: 0 auto;
    height: 120px;
}

.footer-content {
    display: flex;
    justify-content: center;
}

.social-media-icons {
    fill: white;
    overflow: hidden;
    margin: 1rem 1rem 0 0;
    padding: 1rem 0;
}

.footer-content a:hover {
    background-color:#BDBDBD;
}

.fact {
    width: 100%;
    max-width: 960px;
    float: right;
}

.fact p {
    font-family: 'Roboto';
    font-style: italic;
    text-align: right;
    font-size: 1.5rem;
    color: grey;
    margin: 5rem 0;
}


.mobile-navigation,
.burger-button {
    display: none;
}


@media only screen and (max-width: 963px) {

    article {margin: 0 20px; }
    .nav { display: none; }
    header {   border-bottom: 1px solid grey;}
    #lesson-two-basics,#lesson-two-lead,#lesson-two-chords,#lesson-two-rhythm,
    #lesson-two-frets { grid-column: 1/7;margin-bottom:20px;grid-row:auto;}
    /*Mobile nav stylings*/
    .burger-button { display: block; float: left; margin: 16px;line-height: 30px; font-size: 28px;}
    #mobile-menu{overflow: auto;position: absolute;z-index: 999999;width: 100%;float:left;margin-top:60px}
    #mobile-menu a{ width: 100%; float: left;padding-top: 15px;padding-bottom:15px;background-color: lightgrey;color: #ffffff;text-align: center; padding-left: 16px; text-decoration: none;border-bottom: 1px solid #0065d1;
    }
    .logo {text-align: center;height: auto;width: 400px;line-height: 41px;font-size: 28px; }
    .main-banner-image {height: 250px;}
    .banner-message {font-size: 1rem; grid-column:1/5;grid-row:1;margin:10px 0 10px 10px;}
    /*basics styling*/
    #card-bridge { grid-row: 1; max-height: 200px;align-items: end; border: none;}
    #cardB1 {grid-column: 3/4;width: 219px;margin-left: 50px;}
    .info-boxB1 {grid-column: 1/7; grid-row: 2;text-align:center;}
    #cardB2 {grid-column: 3/5; width: 300px;margin-left: 0;}
    #cardB3 { grid-column: 2/5;height: 148px;margin:50px 0 0 106px;}
    /*frets styles*/
    .contentF2 img { height: 262px; max-width: 300px;}
    .content2F2 img { height: auto;width: 100%; max-width: 500px;}
    /*Rhythm 1 styles*/
    #lower-section-imageR1 { background-size: contain;}
    #lower-section-image2R1 {background-size: contain;}
    /*Chord Styles*/
    .info-box-power { grid-column: 1/-1; grid-row: 2;padding: 0;margin: 0;}
    .card-power1 { grid-column: 3; grid-row: 2; width: 300px;height: 300px;margin: 0 0 0 5em;padding: 0;}
    .info-box-power p {grid-row: 3; }
    .info-box2-power {grid-column: 1/-1;grid-row: 3;}
    .card2-power {grid-column: 3; grid-row: 2;width: 300px; height: 300px;margin: 0 0 0 5em;padding: 0;}
    .info-box2-power p { grid-row: 3;}
    .info-box2-power {grid-column: 1/-1;grid-row: 3;}
    .outro-power{ grid-row: 5;}
    /*lead*/
    .higher-section-image-lead { grid-column: 3/5;transform: rotate(310deg);}
    #tablature-placeholder {grid-row: 3;grid-column: 3/6; }
    .tablature-description {grid-row: 4;}
    .guitar-on-tab-placeholder { background-size: contain; grid-row: 5/8; margin-bottom: 2em;}
    .outro-lead-final { grid-row: 5/8; margin-bottom: 2em;}

/*anchor points werent required for mobile devices*/
    .anchor-index, .anchor-basics, .anchor1,  .anchor,.anchorF2, .anchorC1,.anchorl1, .anchor-power, .anchorR1, .anchor,.anchor-basics, .anchorFrets1,.anchorL1, .anchor-final { display: none;}

}

@media only screen and (max-width: 730px) {
    section { margin: 0;text-align: center; }
    h2 {font-size: 22px;}
    .mobile-navigation ul,.mobile-navigation li, .mob-sub-level { margin-left: 5px;font-size: 22px;line-height: 25px;}
    .logo h2 { text-align: center; height: 50px;width: 430px;line-height: 50px; font-size: 28px; }
    #touch-nav-content {  display: flex;flex-direction: column; }
    #main-banner-image-basics img {width: 400px; }
    #main-banner-image-frets img { max-width: 400px; }
    .lower-section-lead { margin: 10px 0 10px 0; }
    .lower-section-lead p { text-align: center; }
    .mobile-navigation {width: 90vw; margin-top: 3.8em; }
    /*basics styling*/
    #card, #card-bridge { grid-column: 3/5; grid-row: 1;}
    #info-box, #info-box2 {grid-column: 1/7; grid-row: 2;}
    #cardB1, #cardB2, #cardB3 { grid-column: 2/4;width: 200px;margin: 6em 0 0 0;
    }
    /*Frets styling*/  .fretboard-placeholder1 {  grid-column: 3/7; grid-row:1;}
    .information-placeholderF1 { grid-column: 1/7;grid-row: 2;}
    .fretboard-placeholder2 { background-size: contain;grid-column: 3/6;}
    #welcomeF2 { max-width: 340px; }
    .contentF2 {  grid-column: 1/7;grid-row: 3; }
    .content2F2 { grid-column: 1/7;grid-row: 4; }
    .contentF2 img { width: 600px; margin: 0 10px; }
    .placeholder {grid-column: 1;  grid-row: 6; width: 600px; margin: 0 0 10em 0;}
    .outroF2 {display: none;}
    /*Chords*/
    .information-boxC1#information-boxC1 {height: 300px;}
    #horizontal-card-topC1 {padding: 0;height: 700px;}
    .cardC1 {margin-left: 2em;}
    .info-boxC1 {height: 300px;}
    #horizontal-card-topC2 {padding: 0;height: 700px;}
    .cardC2 {margin-left: 2em;}
    .info-boxC2 {height: 300px;}
    .outroC1 {grid-column: 1/7;}
    /*Rhythm*/
    .introduction {grid-column: 1/7;}
    /*lead*/
    .higher-section-image-lead {transform: rotate(0deg);grid-column: 2/6;}
    .lower-information-box-lead#information-box-lead {height: 500px}
    #information-box-lead.lower-information-box-lead h4 {margin-top: 5em;font-size: 22px;}
    .banner-message h1 { font-size: 1.3rem;}
    #lesson-two-rhythm {margin-bottom:20px;grid-row:8;}
        #contact-info-detail { grid-column: 1/6;grid-row: 5/8;margin: 0;}
    /*    lead2*/
    #contact-info-detail.contact-info {grid-column: 1/7; grid-row: auto;margin: 2em 0;height:650px;}
    .contact-information-box,
    #contact-box-lead2 {  background-size: contain;  grid-column: 1/7; grid-row:7;margin: 2em 0 9em;border-radius: 10px; }
}

@media only screen and (max-width: 430px) {
    article { margin: 10px; text-align: center;}
    .mobile-navigation {margin-left: -2em;}
    .mob-sub-level {font-size: 10px;}
    h1 {font-size: 32px;}
    h2 {font-size: 30px;margin: 0;}
    p {font-size: 22px;}
    .banner-message {font-size: 1rem;}
    #head-banner-content-rhythm2 div { padding: 0;}
    .logo h2 { text-align: center; height: auto; width: 330px; line-height: 60px; font-size: 28px; margin-left:20px;}
    /*basics*/
    #card,#card-bridge{margin-top:50px;}
    #lesson-two-rhythm h1{font-size:30px;}
    /*frets*/
    #information-placeholderF1 img { position: absolute;left: 79px;height: auto; width: 200px;}
    #information-placeholderF1 p { position: relative; padding: 10em 0 0 0;margin-left:20px;}
    .fretboard-placeholder2 {background-size: cover;grid-column: 2/6;}
    .contentF2 p,.content2F2 p {text-align: center;}
    .contentF2 img,.content2F2 img { width: 270px;}
    .placeholder { width: 340px; height: 200px;}
    /*Rhythm Styles*/
    #main-banner-image-frets img { grid-column: 1/4; }
    #lower-section-imageR1 { background-size: contain;grid-column: 2/6; grid-row: 2;}
    #lower-sectionR1 { grid-row: 3;}
    #lower-section-image2R1 {background-size: contain;grid-row: 4;}
    .outroR1{grid-row:5;}
    /*rhythm2*/
    .chord-section1 {grid-row: 4;}
    .chord-section1 p { width: 90vw; margin: 10px 10px;}
    .chord-section1 img { width: 100vw; margin: 0;  padding: 0;}
    .chord-section1a { grid-row: 5; margin: 0; padding: 0;}
    .chord-section1a img {height: 250px; width: 80vw;}
    .chord-section2 { grid-row: 6; margin: 0;}
    /*chords*/
    .chord-section1a { display: grid; }
    .chord-section1a img {  grid-column: 2/6; grid-row: 3; }
    .chord-section1a p, h2 {grid-column: 1/7;  grid-row: 1; }
    .story {display: grid;}
    .story img {grid-column: 1/7; grid-row: 2;}
    .story p {grid-column: 1/7; grid-row: 3;}
    .chord-section1 {display: grid;}
    .chord-section1 img { grid-column: 1/7; margin-left: 3em;grid-row: 2;}
    .chord-section1 p { grid-column: 1/6;grid-row: 3;}
    .outroC1 {  display: none;}
    #lesson-two-chords {  grid-row: 6;}
    /*chords 2*/
    .cardC1 {  margin-top: 2em;}
    .cardC2 { margin-bottom: 5em;}
    .outroC1 { grid-row: 6;  height: 300px;}
    .information-boxC1#information-boxC1 {  height: 340px;}
    /*chords 2*/
    .welcome-chords2 { grid-row: 1/2;}
    .card-power1 { margin: 0 0 0 30px;}
    .card2-power {  margin: 0 0 0 30px;}
    .outro-power { grid-column: 2/7;  grid-row: 4; }
    /*lead*/
    #main-banner-image-frets img { grid-column: 1/5; width: 300px;}
    #main-banner-image-basics img {height: auto; width: 100%;width: 300px; }
    #main-banner-image-frets img {  max-width: 400px;}
    #information-box-lead.lower-information-box-lead h4 {margin-top: 2em; font-size: 22px; }
    .outrol1 { grid-column: 1/7;}
    .fact p { font-size: 21px; margin-left: 10px;}
    #tablature-placeholder { grid-column: 1/7; }
    .card-power1,.card2-power {margin: 0;}
    /*rhythm*/
    #lesson-two-rhythm{grid-row:6;}
}

@media only screen and (max-width: 330px) {
    .logo h2 {text-align: center;height: auto; width: 300px; line-height: 70px; font-size: 28px; margin-left: 20px;}
    .mobile-navigation { margin-left: -2em;}
     #lesson-two-rhythm h1{font-size:25px;}
    /*frets*/
    #information-placeholderF1 img { position: absolute; left: 60px;height: auto;width: 200px;}
    #information-placeholderF1 p {  position: relative; padding: 11em 0 0 0;}
    .contentF2 p, .content2F2 p {text-align: center;}
    .contentF2 img, .content2F2 img {width: 270px;}
    .placeholder {  width: 300px; height: 200px;}
    .card-power1, .card2-power { margin: 0;}
    #information-box-lead.lower-information-box-lead h4 {margin-top: 1em;font-size: 21px; }
    #contact-info-detail,#contact-box-lead2 { margin: 0;}
    .outrol1 {grid-column: 1/7;}
    #tablature-placeholder {grid-column: 2/6;}
}
